<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='newuser.css') }}">
    <title>Registration Page</title>
</head>

<body>
    <div class="login-page">
        <div class="form">
            <div class="login">
                <h3>Register New User</h3>
            </div>
            <form class="register-form" method="post" action="/register">
                <input type="text" name="fullname" placeholder="Full Name" required>
                <input type="text" name="username" placeholder="Username" required>
                <input type="password" name="password" placeholder="Password" required>
                <input type="password" name="confirm_password" placeholder="Confirm Password" required>
                <button type="submit">Register</button>
                    {% if error_message %}
                        <p style="color: red;">{{ error_message }}</p>
                    {% endif %}
                <p class="message">Already registered? <a href="{{ url_for('login') }}">Login</a></p>
            </form>
        </div>
    </div>
</body>

</html>